<div class="control" id="control-${id}" tal:define="id string:frm-${SELF/getForm/getName}-ctrl-${SELF/getName}">
  <label for="${id}"><span class="label">${SELF/getLabel} <tal:block tal:condition="SELF/isRequired">* </tal:block></span>
    <span class="lft"><span class="rgt"><span class="mdl"><textarea style="width: 80%" cols="${SELF/cols | nothing}" rows="${SELF/rows | nothing}" class="textarea" id="${id}" name="${SELF/getForm/getName}[${SELF/getName}]"
          tal:content="SELF/getValue" /></span></span></span></label>
	<div class="error" tal:condition="SELF/getExceptionsValidations" tal:define="exceptions SELF/getExceptionsValidations">
		<div tal:condition="exists: exceptions/17001">Prosím vyplňte obsah</div>
		<div tal:condition="exists: exceptions/17019">Obsah je příliš dlouhý</div>
	</div>
</div>