<div class="control" id="control-${id}" tal:define="id string:frm-${SELF/getForm/getName}-ctrl-${SELF/getName}">
	<label for="${id}"><span class="label">${SELF/getLabel}
		<tal:block tal:condition="SELF/isRequired">* </tal:block></span>
		<span class="checkboxes"><tal:block tal:repeat="option SELF/getOptions">
			<x metal:use-macro="control_checkbox" />
		</tal:block></span>
	</label>
	<div class="error" tal:condition="SELF/getExceptionsValidations" tal:define="exceptions SELF/getExceptionsValidations">
		<tal:block tal:repeat="exception exceptions">
			<div>vyhozena vyjimka validatoru:
						<font style="background: #0000ff; color: #ffffff">${exception/getFile}</font>
			cislo: 		<font style="background: #00ff00; color: #ffffff">${exception/getCode}</font>
			s hlaskou: 	<font style="background: #ff0000; color: #ffffff">${exception/getMessage}</font>
			</div>
		</tal:block>
	</div>
</div>
<tal:block metal:define-macro="control_checkbox" tal:define="option option">
	<label class="choose-more" for="${id}-${option/getValue}"><input 	class="checkbox" id="${id}-${option/getValue}" name="${SELF/getForm/getName}[${SELF/getName}][${repeat/option/index}]" type="checkbox"
			tal:attributes="value option/getValue | SELF/getDefault; checked option/getChecked | default" /><span class="option-label">${option/getLabel}</span></label>
</tal:block>