<div class="control control-date" id="control-${id}" tal:define="id string:frm-${SELF/getForm/getName}-ctrl-${SELF/getName}" tal:attributes="title SELF/title|default">
	<label for="${id}"><span class="label">${SELF/getLabel} <span tal:condition="SELF/isRequired" class="info-required">* </span></span></label>
		<span class="text"><span class="lft"><span class="rgt"><span class="mdl"><input 	class="text" type="text" id="${id}" name="${SELF/getForm/getName}[${SELF/getName}]"
				tal:attributes="value SELF/getValue | SELF/getDefault; maxlength SELF/getLengthMax | default; size SELF/getLengthMax | default; disabled SELF/getDisabled" /></span></span></span></span>
	<div class="error" tal:condition="SELF/getExceptionsValidations" tal:define="exceptions SELF/getExceptionsValidations">
		<div tal:condition="exists: exceptions/17001">Prosíme vyplňte datum</div>
		<div tal:condition="exists: exceptions/17010">Nesprávně vyplněné datum</div>
	</div>
	<div class="error" tal:condition="SELF/getExceptionsValidations" tal:define="exceptions SELF/getExceptionsValidations">
		<tal:block tal:repeat="exception exceptions">
			<div>vyhozena vyjimka validatoru:
						<font style="background: #0000ff; color: #ffffff">${exception/getFile}</font>
			cislo: 		<font style="background: #00ff00; color: #ffffff">${exception/getCode}</font>
			s hlaskou: 	<font style="background: #ff0000; color: #ffffff">${exception/getMessage}</font>
			</div>
		</tal:block>
	</div>
</div>