<div class="control" tal:define="id string:frm-${SELF/getForm/getName}-ctrl-${SELF/getName}">
	<label for="${id}" tal:condition="SELF/isRequired" class="required"><span class="label">${SELF/getLabel} </span><input 	class="text" type="text" id="${id}" name="${SELF/getForm/getName}[${SELF/getName}]"
			tal:attributes="value SELF/getValue | SELF/getDefault; maxlength SELF/getLengthMax | default; size SELF/getLengthMax | default" /></label>
	<label for="${id}" tal:condition="not: SELF/isRequired"><span class="label">${SELF/getLabel} </span><input 	class="text" type="text" id="${id}" name="${SELF/getForm/getName}[${SELF/getName}]"
			tal:attributes="value SELF/getValue | SELF/getDefault; maxlength SELF/getLengthMax | default; size SELF/getLengthMax | default" /></label>
	<div class="error" tal:condition="SELF/getExceptionsValidations" tal:define="exceptions SELF/getExceptionsValidations">
		<div tal:condition="exists: exceptions/17001">Prosím vyplňte PSČ</div>
		<div tal:condition="exists: exceptions/17006">PSČ není správně vyplněno</div>
	</div>
</div>