<div class="control" id="control-${id}" tal:define="id string:frm-${SELF/getForm/getName}-ctrl-${SELF/getName}">
	<span class="label-radio"><span class="label">${SELF/getLabel}
		<span tal:condition="SELF/isRequired" class="info-required">* </span></span>
		<span class="radio"><span class="lft"><span class="rgt"><span class="mdl">
				<x metal:use-macro="control_radio" /></span></span></span></span>
	</span>
	<div class="error" tal:condition="SELF/getExceptionsValidations" tal:define="exceptions SELF/getExceptionsValidations">
		<tal:block tal:repeat="exception exceptions">
			<div>vyhozena vyjimka validatoru:
						<font style="background: #0000ff; color: #ffffff">${exception/getFile}</font>
			cislo: 		<font style="background: #00ff00; color: #ffffff">${exception/getCode}</font>
			s hlaskou: 	<font style="background: #ff0000; color: #ffffff">${exception/getMessage}</font>
			</div>
		</tal:block>
	</div>
</div>
<span metal:define-macro="control_radio" class="options">
  <span class="labelcontainer" id="radio-labelcontainer-${id}-option-${repeat/option/number}" tal:repeat="option SELF/getOptions">
  		<label for="${id}-option-${repeat/option/number}">
  		<span class="lft" /><span class="mdl"><span class="label-radio-btn" 	tal:content="structure option/getLabel" />
  			<input type="radio" 	name="${SELF/getForm/getName}[${SELF/getName}]" id="${id}-option-${repeat/option/number}"
  									tal:attributes="value option/getValue; checked option/getChecked | default" /></span><span class="rgt" /></label>
  </span>
</span>