<div tal:define="id string:frm-${SELF/getForm/getName}-ctrl-${SELF/getName}">
	<label for="${id}">${SELF/getLabel}
		<x metal:use-macro="control_select" />
	</label>
	<div class="error" tal:condition="SELF/getExceptionsValidations" tal:define="exceptions SELF/getExceptionsValidations">
		<tal:block tal:repeat="exception exceptions">
			<div>vyhozena vyjimka validatoru:
						<font style="background: #0000ff; color: #ffffff">${exception/getFile}</font>
			cislo: 		<font style="background: #00ff00; color: #ffffff">${exception/getCode}</font>
			s hlaskou: 	<font style="background: #ff0000; color: #ffffff">${exception/getMessage}</font>
			</div>
		</tal:block>
	</div>
</div>
<tal:block metal:define-macro="control_select">
  <select tal:define="options SELF/getOptions" id="${id}" name="${SELF/getForm/getName}[${SELF/getName}]">
      <option tal:repeat="option options" tal:attributes="value option/getValue; selected option/isSelected | default" tal:content="structure option/getLabel" />
  </select>
</tal:block>