<div class="control" id="control-${id}" tal:define="id string:frm-${SELF/getForm/getName}-ctrl-${SELF/getName}">
  <label for="${id}"><span class="label">${SELF/getLabel} <tal:block tal:condition="SELF/isRequired">* </tal:block></span>
    <span class="lft"><span class="rgt"><span class="mdl"><textarea style="width: 80%" cols="${SELF/cols | nothing}" rows="${SELF/rows | nothing}" class="textarea" id="${id}" name="${SELF/getForm/getName}[${SELF/getName}]"
          tal:content="SELF/getValue" /></span></span></span></label>
	<div class="error" tal:condition="SELF/getExceptionsValidations" tal:define="exceptions SELF/getExceptionsValidations">
		<tal:block tal:repeat="exception exceptions">
			<div>vyhozena vyjimka validatoru:
						<font style="background: #0000ff; color: #ffffff">${exception/getFile}</font>
			cislo: 		<font style="background: #00ff00; color: #ffffff">${exception/getCode}</font>
			s hlaskou: 	<font style="background: #ff0000; color: #ffffff">${exception/getMessage}</font>
			</div>
		</tal:block>
	</div>
</div>