<div class="control" id="control-${id}" tal:define="id string:frm-${SELF/getForm/getName}-ctrl-${SELF/getName}">
	<div class="recaptcha"><tal:block tal:content="structure SELF/recaptchaGetHTML" /></div>
	<div class="error" tal:condition="SELF/getExceptionsValidations" tal:define="exceptions SELF/getExceptionsValidations">
		<div tal:condition="exists: exceptions/17001">Prosím vyplňte kontrolní text</div>
		<div tal:condition="exists: exceptions/17003">Neopsal jste správně kontrolní text</div>
	</div>
</div>