.cache*
.settings*
.project
*.log
lBox/documents*
project/.cache*
project/.tal_compiled*
project/filespace*
project/import*
# project/documents/material*
project/documents/doc/html*
*~

# blokovani verzovani dat metanodu atd.
project/.data*
