<?xml version="1.0" encoding="UTF-8"?>
<system>
	<photogallery>
		<import>
			<path_virtual>/gallery_import_images</path_virtual>
			<path>$project/import/photogallery</path>
		</import>
		<!-- pri zmene pozor na .htacces -->
		<filespace>$project/filespace/photo/galleries</filespace>
		<output>
			<!-- Virtualni cesta k fotogaleriim - musi byt namapovana v .htacces na fyzicke umisteni <filespace> fotogalerii -->
			<path_virtual>/fotogalerie</path_virtual>
		</output>
	</photogallery>
	<download>
		<!-- pri zmene pozor na .htacces -->
		<filespace>$project/filespace/files</filespace>
		<output>
			<!-- Virtualni cesta k souborum - musi byt namapovana v .htacces na fyzicke umisteni download filu -->
			<path_virtual>/download/file</path_virtual>
		</output>
	</download>
	<wsw>
		<files>
			<path>/filespace/content/wsw</path>
		</files>
		<img>
			<path>/img/content/wsw</path>
		</img>
	</wsw>
	<pages>
		<classes>
			<default>PageDefault</default>
		</classes>
		<templates>
			<path>$project/templates/pages</path>
			<default>default.html</default>
		</templates>
		<page404>902</page404>
	</pages>
	<components>
		<classes>
			<default>ComponentDefault</default>
		</classes>
		<templates>
			<path>$project/templates/components</path>
		</templates>
	</components>
	<metanodes>
		<templates>
			<path>$project/templates/metanodes</path>
		</templates>
		<data>
			<content>
				<path>$project/.data/metanodes/contents/$caller_type/$caller_id/$lng_$seq.$ext</path>
			</content>
			<styles>
				<path>$project/.data/metanodes/styles/$caller_type/$caller_id/$lng_$seq.txt</path>
			</styles>
		</data>
		<api>
			<url>/api/metanodes/v0.01/</url>
		</api>
	</metanodes>
	<layouts>
		<classes>
			<default>LayoutDefault</default>
		</classes>
		<templates>
			<path>$project/templates/layouts</path>
		</templates>
	</layouts>
	<i18n>
		<globalfiles>
			<path>$project/templates</path>
		</globalfiles>
	</i18n>
	<forms>
		<templates>
			<forms>
				<path>$project/templates/forms</path>
			</forms>
			<controls>
				<path>$project/templates/forms/controls</path>
			</controls>
		</templates>
	</forms>
	<emails>
		<templates>
			<path>$project/templates/mails</path>
		</templates>
	</emails>
	<output>
		<tal>
			<PHPTAL_FORCE_REPARSE>0</PHPTAL_FORCE_REPARSE>
			<PHPTAL_PHP_CODE_DESTINATION>$project/.tal_compiled/</PHPTAL_PHP_CODE_DESTINATION>
		</tal>
		<paging>
			<paging_by_default>10</paging_by_default>
			<!-- Je treba davat vsechny casti do zavorek kuli spravnemu parserovani pri sestavovani dynamickych odkazu strankovani, jinak se to podela -->
			<paging_url_param_pattern>^(stranka-)([0-9]+)$</paging_url_param_pattern>
			<!-- nutne kuli generovani dynamickych linku - preparserovanim teto hodnoty patternem vyse ziskame pole hodnot k sestavovani odkazu -->
			<paging_url_param_example>stranka-32</paging_url_param_example>
		</paging>
		<remove_coments>0</remove_coments>
		<compression>0</compression>
		<js_combine>1</js_combine>
	</output>
	<multilang>
		<default_language>cs</default_language>
	</multilang>
	<xt>
		<remember_cookie_days>30</remember_cookie_days><!-- kolik dni ma vydrzet cookie s persistenci XT loginu -->
		<paralel_login_timeout_hours>1</paralel_login_timeout_hours><!-- kolik minut po poslednim XT hitu se bude tento vyhledavat jako paralelni login -->
	</xt>
	<paging>
		<url_param_pattern><![CDATA[/pag-<paging_id>\=<paging_page>/]]></url_param_pattern>
	</paging>
	<debug>
		<components>0</components>
		<exceptions>-1</exceptions>
	</debug>
</system>