@media screen,projection {
	.metarecord .yui-panel-container form .control				{ background: #f1f1f1 none; color: #00000; line-height: 2; padding: 5px 5px 10px; }
	.metarecord .yui-panel-container form .control label .label,
	.metarecord .yui-panel-container form .control label .text,
	.metarecord .yui-panel-container form .control label .wsw		{ display: block; width: 720px !important; }
	.metarecord .yui-panel-container form .control label .label	{ font-size: 100%; font-weight: bold; }
	.metarecord .yui-panel-container form .control-hidden			{ display: none; }
	.metarecord .yui-panel-container form .control-hidden			{ display: none; }
	.metarecord .yui-panel-container form .control label .error,
	.metarecord .yui-panel-container form .control label .error			{ background: #ff0000 none; color: #ffffff; }
	.metarecord .yui-panel-container form .control label .error .code,
	.metarecord .yui-panel-container form .control label .error .message	{ display: inline; padding: 2px 5px; font-weight: bold; }
	.metarecord .yui-panel-container form .control label .error .code	{ background: #0000ff none; }

	.metanode .to-edit .dialog .control		{ background: #F2F2F2 none; }

	.yui-toolbar-titlebar h2 a				{ visibility: hidden; }
}