@media screen,projection {

	/* zakladni definice */
	html, body 			{ font-family: Trebuchet MS; /*font-size: 11px;*/ }
	h1, h2, h3, h4, h5 	{ }
	h1 					{ font-size: 32px; }
	h2 					{ font-size: 18px; }
	a img 				{ border: none; }
	p 					{ margin: 11px 0; }


	.error	{ color: #ff0000; }


	/* carousell */
	#carousel-top-model .container	{ float: left; clear: none; overflow: hidden; position: relative; }
	#carousel-top-model ul 			{ margin: 0; padding: 0; position: absolute; }
	#carousel-top-model li 			{ display: block; float: left; clear: none; margin: 0; padding: 0; }
	#carousel-top-model img 		{ display: block; float: left; } /* rozmery item jsou pro poradek definovany jako data v html - skrze inline css je nastavuje js carouselu */
	#carousel-previous,
	#carousel-next					{ display: block; float: left; clear: none;
									  padding: 0 10px; cursor: pointer; }


	/* tooltips */
	.tool-tip {
		color: #fff;
		width: 139px;
		z-index: 13000;
	}
	 
	.tip-title {
		font-size: 11px;
		margin: 0;
		color: #ffffff;
		padding: 8px 8px 4px;
		background: url(/img/design/skin-1/tool-tips-bubble.png) top left;
	}
	 
	.tip-text {
		font-size: 11px;
		padding: 4px 8px 8px;
		background: url(/img/design/skin-1/tool-tips-bubble.png) bottom right;
	}

	/* highslide */
	.highslide {
	    cursor: url(/js/highslide/3.3.22/graphics/zoomin.cur), pointer;
	    outline: none;
	}
	.highslide-active-anchor img {
		visibility: hidden;
	}
	.highslide img {
		border: 2px solid gray;
	}
	.highslide:hover img {
		border: 2px solid white;
	}
	
	.highslide-wrapper {
		background: white;
	}
	.highslide-image {
		border: 2px solid white;
	}
	.highslide-image-blur {
	}
	.highslide-caption {
	    display: none;
	    
	    border: 2px solid white;
	    border-top: none;
	    font-family: Verdana, Helvetica;
	    font-size: 10pt;
	    padding: 5px;
	    background-color: white;
	}
	.highslide-loading {
	    display: block;
		color: black;
		font-size: 8pt;
		font-family: sans-serif;
		font-weight: bold;
	    text-decoration: none;
		padding: 2px;
		border: 1px solid black;
	    background-color: white;
	    
	    padding-left: 22px;
	    background-image: url(/js/highslide/3.3.22/graphics/loader.white.gif);
	    background-repeat: no-repeat;
	    background-position: 3px 1px;
	}
	
	a.highslide-credits,
	a.highslide-credits i {
	    padding: 2px;
	    color: silver;
	    text-decoration: none;
		font-size: 10px;
	}
	a.highslide-credits:hover,
	a.highslide-credits:hover i {
	    color: white;
	    background-color: gray;
	}
	a.highslide-full-expand {
		background: url(/js/highslide/3.3.22/graphics/fullexpand.gif) no-repeat;
		display: block;
		margin: 0 10px 10px 0;
		width: 34px;
		height: 34px;
	}
	
	/* These must always be last */
	.highslide-display-block {
	    display: block;
	}
	.highslide-display-none {
	    display: none;
	}

	/* tools */
	.data			{ display: none; }
	#menumain h2 	{ display: none; }
	.fl-left 		{ float: left; }
	.fl-right 		{ float: right; }
	.clr			{ clear: both; }
	.hidden			{ display: none; }
}