<form id="frm-${SELF/getName}" method="${SELF/getMethod}" enctype="multipart/form-data" action="">
	<fieldset>
		<legend tal:content="SELF/getLabel" />
		<span class="info-required">Pole označená hvězdičkou jsou poviná</span>
		<tal:block tal:repeat="control SELF/getControls">
			<tal:block tal:condition="not: control/isSpamDefense">
				<tal:block tal:condition="not: control/isSubControl" tal:content="structure control" />
			</tal:block>
		</tal:block>
		<input tal:condition="not: SELF/isSubForm" class="submit" type="submit" name="${SELF/getName}[sent]" value="${SELF/getLabelSubmit}" />
		<tal:block tal:condition="SELF/isSubForm">
			<input tal:condition="not: SELF/isFirstSubForm" class="previous submit" type="submit" name="${SELF/getFormMultiple/getName}[previous]" value="předchozí" />
			<input tal:condition="not: SELF/isLastSubForm" class="submit" type="submit" name="${SELF/getName}[sent]" value="další" />
			<input tal:condition="SELF/isLastSubForm" class="submit" type="submit" name="${SELF/getName}[sent]" value="dokončit" />
		</tal:block>
	</fieldset>
</form>
<tal:block tal:content="structure SELF/getControlSpamDefense" />
<p tal:condition="SELF/wasSentSucces">Formulář byl úspěšně odeslán. Děkujeme.</p>