<form id="frm-${SELF/getName}" method="${SELF/getMethod}" action="">
	<fieldset>
		<span class="legend" tal:condition="exists: SELF/translateKeyLegend" i18n:replace="translateKeyLegend" />
		<span class="legend" tal:condition="not: exists: SELF/translateKeyLegend" tal:content="SELF/getLabel" />
		<span class="info-required" i18n:translate="info_required">Pole označená hvězdičkou jsou povinná</span>
		<tal:block tal:repeat="control SELF/getControls">
			<tal:block tal:condition="not: control/isSpamDefense">
				<tal:block tal:condition="not: control/isSubControl" tal:content="structure control" />
			</tal:block>
		</tal:block>
		<input class="submit" type="submit" name="${SELF/getName}[sent]" value="${SELF/getLabelSubmit}" />
	</fieldset>
</form>
<tal:block tal:content="structure SELF/getControlSpamDefense" />