<form id="frm-${SELF/getName}" method="${SELF/getMethod}" action="">
	<div class="controls">
		<tal:block tal:repeat="control SELF/getControls">
			<tal:block tal:condition="not: control/isSpamDefense">
				<tal:block tal:condition="not: control/isSubControl" tal:content="structure control" />
			</tal:block>
		</tal:block>
	</div>
	<input class="submit" type="submit" name="${SELF/getName}[sent]" value="${SELF/getLabelSubmit}" />
</form>
<tal:block tal:content="structure SELF/getControlSpamDefense" />