<form class="frm-delete" id="frm-${SELF/getName}" method="${SELF/getMethod}" action="" onsubmit="return (confirm('Skutečně chcete smazat ${SELF/item_name}?') ? true : false)">
	<tal:block tal:repeat="control SELF/getControls">
		<tal:block tal:condition="not: control/isSpamDefense">
			<tal:block tal:condition="not: control/isSubControl" tal:content="structure control" />
		</tal:block>
	</tal:block>
	<div class="submit"><input 	tal:condition="not: SELF/isSubForm" class="submit" type="submit" name="${SELF/getName}[sent]" value="${SELF/getLabelSubmit}" /></div>
</form>
<tal:block tal:content="structure SELF/getControlSpamDefense" />