<x tal:replace="lbox:slot_start" />
	<h1 tal:content="SELF/heading" />
	<tal:block tal:condition="SELF/getURLParamSchool">
		<p tal:condition="models/current/getSchool/isVotingClosed" class="info-voting-closed">
			Je nam lito, ale hlasovani pro tuto skolu jiz bylo uzavreno.
		</p>
		<tal:block tal:condition="not: models/current/getSchool/isVotingClosed">
			<p class="info-voting-close">
				Hlasování této školy bude uzavřeno ${models/current/getSchool/date_voting_end}.
			</p>
			<p class="info-voting-close">
				V rámci jedné školy můžete hlasovat maximálně ${votingLimitSchool}x.
			</p>
		</tal:block>
	</tal:block>
	<ul>
		<li tal:repeat="model models">
			<a href="${model/getPhoto/url}" class="highslide" title="foto soutěžící ${model/model_name} ${model/model_surname}">
				<img src="${model/getPhoto/thumbnail/url}" alt="foto soutěžící ${model/model_name} ${model/model_surname}" />
			</a>
			<tal:block tal:condition="not: model/getSchool/isVotingClosed">
				<tal:block tal:condition="xtLogged">
					<span class="info-voted-times" tal:condition="model/getSchool/getXTUserVotedCount">V rámci této školy jste hlasoval již: ${model/getSchool/getXTUserVotedCount}x</span>
					<span class="info-voted-times" tal:condition="not: model/getSchool/getXTUserVotedCount">V rámci této školy jste ještě nehlasoval</span>
					<span tal:condition="model/getSchool/hasUserReachedVotedLimit">V rámci této školy už jste dosáhl limitu počtu hlasů</span>
					<tal:block tal:condition="not: model/getSchool/hasUserReachedVotedLimit">
						<form tal:condition="not: model/didUserXTVotedFor" method="post" action="" onsubmit="return (confirm('Hlasovat můžeme max. pro 3 soutěžící v rámci jedné školy. Opravdu hlasovat?') ? true : false)">
							<div>
								<input type="hidden" name="${voteGroupName}[votefor]" 	value="${model/getPhoto/id}" />
								<input type="submit" name="${voteGroupName}[vote]"		value="hlasuj pro mě" />
							</div>
						</form>
					</tal:block>
					<span tal:condition="model/didUserXTVotedFor" class="info-voted-already">
						pro tuto fotku jste jiz hlasoval
					</span>
				</tal:block>
				<tal:block tal:condition="not: xtLogged">
					<span class="button-not-logged">
						<span class="tooltip" title="Pro hlasovani je zapotrebi se zalogovat.">Hlasuj pro mě</span>
					</span>
				</tal:block>
			</tal:block>	
			<tal:block tal:condition="model/getSchool/isVotingClosed">
				<span class="info-voting-closed">Je nam lito, ale hlasovani pro tuto skolu jiz bylo uzavreno</span>
			</tal:block>	
			<div class="info">
				<span class="model">${model/model_name} ${model/model_surname}</span>,
				<span class="city">${model/getCity/name}</span>
				<span class="school">${model/getSchool/name}</span>
				<span class="rating">${model/rating_count} hlasů</span>
			</div>
		</li>
	</ul>
	<ul tal:condition="exists: paging" metal:use-macro="paging" />
<x tal:replace="lbox:slot_end.content" />
<x tal:replace="structure lbox:component.layout_default" />
<ul metal:DEFINE-MACRO="paging" class="paging" tal:define="paging paging">
	<li tal:repeat="page paging">
		<tal:block tal:condition="not: page/current">
			<a tal:condition="page/first" tal:content="repeat/page/key" href="${page/url}" title="první stránka">cislo stranky</a>
			<tal:block tal:condition="not: page/first">
				<a tal:condition="not: page/last" tal:content="repeat/page/key" href="${page/url}" title="stránka ${repeat/page/key}">cislo stranky</a>
			</tal:block>
			<a tal:condition="page/last" tal:content="repeat/page/key" href="${page/url}" title="poslední stránka">cislo stranky</a>
		</tal:block>
		<strong tal:condition="page/current" tal:content="repeat/page/key">cislo stranky</strong>
	</li>
</ul>