<x tal:replace="lbox:slot_start" />
	<h1 class="heading404" tal:content="SELF/Page/heading" />
	<div id="title-videos" class="title-box-red">
		<h2 class="heading">Videa</h2>
		<p class="headlight">Integer facilisis gravida magna!!!</p>
		<p class="first">Integer facilisis gravida magna. Lorem ipsum dolor sit amet, consecter adipis. Cras lobortis bibendum lorem.</p>
		<p class="second">Etiam sit amet dui vel magna. Quisque tempor, magna id aliquet u nibh. Pellentesque habitant.</p>
		<a class="goto" href="${pagesCFGs/videos/url}" title="${pagesCFGs/videos/titleMenu}">Prohlédnout</a>
	</div>
	<div id="title-javagames" class="title-box-blue">
		<h2 class="heading">Java hry</h2>
		<p class="headlight">Integer facilisis gravida magna!!!</p>
		<p class="first">Integer facilisis gravida magna. Lorem ipsum dolor sit amet, consecter adipis. Cras lobortis bibendum lorem.</p>
		<p class="second">Etiam sit amet dui vel magna. Quisque tempor, magna id aliquet u nibh. Pellentesque habitant.</p>
		<a class="goto" href="${pagesCFGs/javagames/url}" title="${pagesCFGs/javagames/titleMenu}">Prohlédnout</a>
	</div>
	<div class="clr" />
	<div id="title-animations" class="title-box-blue">
		<h2 class="heading">Animace</h2>
		<p class="headlight">Integer facilisis gravida magna!!!</p>
		<p class="first">Integer facilisis gravida magna. Lorem ipsum dolor sit amet, consecter adipis. Cras lobortis bibendum lorem.</p>
		<p class="second">Etiam sit amet dui vel magna. Quisque tempor, magna id aliquet u nibh. Pellentesque habitant.</p>
		<a class="goto" href="${pagesCFGs/animations/url}" title="${pagesCFGs/animations/titleMenu}">Prohlédnout</a>
	</div>
	<div id="title-wallpapers" class="title-box-red">
		<h2 class="heading">Tapety</h2>
		<p class="headlight">Integer facilisis gravida magna!!!</p>
		<p class="first">Integer facilisis gravida magna. Lorem ipsum dolor sit amet, consecter adipis. Cras lobortis bibendum lorem.</p>
		<p class="second">Etiam sit amet dui vel magna. Quisque tempor, magna id aliquet u nibh. Pellentesque habitant.</p>
		<a class="goto" href="${pagesCFGs/wallpapers/url}" title="${pagesCFGs/wallpapers/titleMenu}">Prohlédnout</a>
	</div>
	<div class="clr" />
	<div id="title-themes" class="title-box-red">
		<h2 class="heading">Témata</h2>
		<p class="headlight">Integer facilisis gravida magna!!!</p>
		<p class="first">Integer facilisis gravida magna. Lorem ipsum dolor sit amet, consecter adipis. Cras lobortis bibendum lorem.</p>
		<p class="second">Etiam sit amet dui vel magna. Quisque tempor, magna id aliquet u nibh. Pellentesque habitant.</p>
		<a class="goto" href="${pagesCFGs/themes/url}" title="${pagesCFGs/themes/titleMenu}">Prohlédnout</a>
	</div>
	<div id="title-registration" class="title-box-blue">
		<h2 class="heading">Extra výhodné předplatné!</h2>
		<p class="first">Integer facilisis gravida magna. Lorem ipsum dolor sit amet, consecter adipis. Cras lobortis bibendum lorem.</p>
		<p class="second">Etiam sit amet dui vel magna. Quisque tempor, magna id aliquet u nibh. Pellentesque habitant.</p>
		<a class="registrate" href="#" title="">Chci se zaregistrovat</a>
	</div>
	<div class="clr" />
<x tal:replace="lbox:slot_end.content" />
<x tal:replace="structure lbox:component.layout_default" />