<div class="box" id="last-news" tal:condition="atLeastOne">
	<div class="news">
	<div class="header">
		<h3 class="heading"><a href="${pageMoreCfg/url}">Novinky</a></h3>
	</div>
	<div class="content">
		<tal:block tal:repeat="item iteratorNews">
			<div class="list-item">
				<span class="datetime">${item/publishedDate}</span>
				<h4 class="heading"><a href="${item/url}" title="${item/heading}">${item/heading}</a></h4>
				<div class="wsw" tal:content="structure item/perex" />
				<a class="more" href="${item/url}" title="${item/heading}">číst celé</a>
			</div>
		</tal:block>
		<div class="more" tal:condition="hasMore">
			<a href="${pageMoreCfg/url}" title="${pageMoreCfg/title}">Starší novinky</a>
		</div>
	</div>
	</div>
</div>