<div id="breadcrumb" tal:condition="not: rootLocation">
     <tal:block tal:REPEAT="node iterator">
        <a tal:ATTRIBUTES="href node/url | default; title node/titleMenu"
           tal:CONTENT="node/headingBreadcrumb"
		   tal:condition="not: node/isCurrent"
           >Nazev stranky</a>
        <strong tal:CONTENT="node/headingBreadcrumb"
				tal:condition="node/isCurrent">Nazev stranky</strong>
	    <tal:block tal:condition="not: node/isCurrent">&raquo;</tal:block>
     </tal:block>
</div>