<div class="discussion" tal:define="parent SELF/getRecord">
	<tal:bock tal:condition="parent/postsWordDecl5">
		<tal:block tal:define="global postsWord string:příspěvků" />
	</tal:bock>
	<tal:bock tal:condition="parent/postsWordDecl2">
		<tal:block tal:define="global postsWord string:příspěvky" />
	</tal:bock>
	<tal:bock tal:condition="parent/postsWordDecl1">
		<tal:block tal:define="global postsWord string:příspěvek" />
	</tal:bock>
	<h2 class="heading">diskuze <tal:block tal:content="string:(${parent/numPosts} ${postsWord})" /></h2>
	<tal:block tal:content="structure SELF/getForm" />
	<x tal:condition="parent/getChildren/count" metal:use-macro="discussion_list" />	
</div>
<ul metal:define-macro="discussion_list" tal:define="parent parent">
	<li tal:repeat="post parent/getChildren" id="discussion-post-${post/id}">
		<x metal:use-macro="discussion_post_detail" />
		<tal:block tal:condition="post/hasChildren" tal:define="parent post"><x metal:use-macro="discussion_list" /></tal:block>
	</li>
</ul>
<div metal:define-macro="discussion_post_detail" tal:define="post post">
	<div class="title"><span class="title" tal:content="post/title" /></div>
	<div>
		<strong>Autor:</strong>
		<em><a tal:condition="post/email" tal:content="post/nick" href="mailto:${post/email}" /></em>
			<span tal:condition="not: post/email" tal:content="post/nick" />
	        <a tal:condition="exists: post/www" href="${post/www}">www</a>
	        | <strong>Zasláno:</strong>
		<span tal:replace="post/createdDateTime" />
	</div>
	<div class="content wsw" tal:content="structure post/body" />
	<tal:block tal:replace="structure post/formToReply" />
	<tal:block tal:content="structure post/form_xt_delete" />
</div>