<tal:block tal:condition="SELF/isToShow">
<!--Include YUI Loader: --> 
<script type="text/javascript" src="/js/src/webadmin.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.0r4/build/yuiloader/yuiloader-min.js"></script>
<!-- http://developer.yahoo.com/yui/articles/hosting/?button&connection&container&dom&editor&element&event&json&MIN -->
<script type="text/javascript">
(function() {
	var loader = new YAHOO.util.YUILoader({
		base: "http://ajax.googleapis.com/ajax/libs/yui/2.8.0r4/build/",
		require: ["button","connection","container","dom","editor","element","event","json","selector"],
		loadOptional: false,
		combine: true,
		filter: "MIN",
		allowRollup: true,
		onSuccess: function() {metanodes_attach();}
	});
loader.insert();
})();
</script>
<script type="text/javascript" tal:condition="SELF/isAllowedResize">/* <!-- */
	var resizesAllowed	= true;
/* --> */</script>
<script type="text/javascript" tal:condition="not: SELF/isAllowedResize">/* <!-- */
	var resizesAllowed	= false;
/* --> */</script>
<link rel="stylesheet" href="/css/css-metas.css" type="text/css"/>
</tal:block>