<!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/assets/skins/sam/skin.css" />
<!-- Utility Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script> 
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/container/container_core-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/menu/menu-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/button/button-min.js"></script>
<!-- Rich Text Editor-->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/editor/editor-min.js"></script>
<!-- Selector-->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/selector/selector-min.js"></script>
<!-- Connection manager -->
<script src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
<script type="text/javascript">//<!--
	// connection manager setup
	var editors	= new Array();
	var handleSuccess = function(o) {
	    var json = o.responseText.substring(o.responseText.indexOf('{'), o.responseText.lastIndexOf('}') + 1);
	    var data = eval('(' + json + ')');
		var data_caller_type	= data.Results.caller_type;
		var data_caller_id		= data.Results.caller_id;
		var data_type			= data.Results.type;
		var data_seq			= data.Results.seq;
		var data_lng			= data.Results.lng;
		var form				= document.getElementById('frm-metanode-'+data_caller_id+'-'+data_seq);
	    editors[form.id].setEditorHTML(data.Results.content);
	}
	var handleFailure = function(o) {
	    var json = o.responseText.substring(o.responseText.indexOf('{'), o.responseText.lastIndexOf('}') + 1);
	    var data = eval('(' + json + ')');
		alert('communication failure!\n\nStatus:\n'+ data.Results.status);
	}
	var callback = {
	    success: handleSuccess,
	    failure: handleFailure
	};

	//attach fields javascript
	function metanodes_attach() {
		YAHOO.util.Dom.addClass(document.body, 'yui-skin-sam'); 
		var forms	= YAHOO.util.Selector.query('.metanode-richtext form');
		var field;
		var editor;
		var submit;
		for(i in forms) {
			field 				= YAHOO.util.Selector.query('.wsw', forms[i], true);
			submit 				= YAHOO.util.Selector.query('input.submit', forms[i], true);
			// init richtext editors
			editor = new YAHOO.widget.Editor(field.id, { 
				dompath: true, //Turns on the bar at the bottom 
				animate: true, //Animates the opening, closing and moving of Editor windows
				autoHeight: true,
				focusAtStart: true
			});
			editors[forms[i].id]	= editor;
			editor.render();
			//Inside an event handler after the Editor is rendered
			YAHOO.util.Event.on(forms[i].id, 'submit', function(ev) {
		        YAHOO.util.Event.stopEvent(ev);
		        editor.saveHTML();
		        window.setTimeout(function() {
					// metanode placement specification vars
					var data_caller_type	= YAHOO.util.Selector.query('.caller_type input', YAHOO.util.Dom.getAncestorByTagName(editor.get('textarea'), 'form'), true).value;
					var data_caller_id		= YAHOO.util.Selector.query('.caller_id input', YAHOO.util.Dom.getAncestorByTagName(editor.get('textarea'), 'form'), true).value;
					var data_type			= YAHOO.util.Selector.query('.type input', YAHOO.util.Dom.getAncestorByTagName(editor.get('textarea'), 'form'), true).value;
					var data_seq			= YAHOO.util.Selector.query('.seq input', YAHOO.util.Dom.getAncestorByTagName(editor.get('textarea'), 'form'), true).value;
					var data_lng			= YAHOO.util.Selector.query('.lng input', YAHOO.util.Dom.getAncestorByTagName(editor.get('textarea'), 'form'), true).value;
		            var sUrl 				= "/api/metanodes/v0.01/";
		            var data 				= 'caller_type='+data_caller_type+'&caller_id='+data_caller_id+'&type='+data_type+'&seq='+data_seq+'&lng='+data_lng+'&content=' + encodeURIComponent(editor.get('textarea').value);
		            var request 			= YAHOO.util.Connect.asyncRequest('POST', sUrl, callback, data);
		        }, 200);
			});
		}
	}
	YAHOO.util.Event.onDOMReady(metanodes_attach);
//--></script>