<div id="menumain" tal:DEFINE="iterator pages">
   <h2 class="heading">Navigace</h2>
   <ul>
      <tal:block tal:REPEAT="node iterator">
        <li tal:ATTRIBUTES="class node/getClass | default"
            tal:CONDITION="node/in_menu">
           <a tal:CONDITION="not: node/isCurrent"
              tal:ATTRIBUTES="href node/url; title node/titleMenu">
              <span class="lft"><span class="rgt"><span class="mdl" tal:CONTENT="node/name_menu">Nazev stranky</span></span></span>
           </a>
           <strong tal:CONDITION="node/isCurrent">
              <span class="lft"><span class="rgt"><span class="mdl" tal:CONTENT="node/name_menu">Nazev stranky</span></span></span>
           </strong>
           <x tal:condition="node/hasChildrenInMenu" metal:USE-MACRO="menu_list" />
        </li>
      </tal:block>
   </ul>
    <ul
		metal:DEFINE-MACRO="menu_list"
       	tal:DEFINE="iterator node/getChildren">
      <tal:block tal:REPEAT="node iterator">
        <li tal:ATTRIBUTES="class node/getClass | default"
            tal:CONDITION="node/in_menu">
           <a tal:CONDITION="not: node/isCurrent"
              tal:ATTRIBUTES="href node/url; title node/titleMenu">
              <span class="lft"><span class="rgt"><span class="mdl" tal:CONTENT="node/name_menu">Nazev stranky</span></span></span>
           </a>
           <strong tal:CONDITION="node/isCurrent">
              <span class="lft"><span class="rgt"><span class="mdl" tal:CONTENT="node/name_menu">Nazev stranky</span></span></span>
           </strong>
           <x tal:condition="node/hasChildrenInMenu" metal:USE-MACRO="menu_list"/>
        </li>
      </tal:block>
   </ul>
</div>