<div id="news" class="articles" tal:condition="SELF/getRecords/count">
	<h2 class="heading">Aktuality</h2>
	<ul class="articles">
		<li tal:repeat="record SELF/getRecords">
			<div class="published">${record/published_human_cs}</div>
			<h3 class="heading"><a href="${record/url}" title="${record/heading}">${record/heading}</a></h3>
			<div class="perex"><div class="perex" tal:content="structure record/perex">perex</div></div>
			<div class="xt-admin" tal:condition="record/form_xt_to_edit">
				<tal:block tal:content="structure record/form_xt_to_edit" />
				<tal:block tal:content="structure record/form_xt_delete" />
			</div>
		</li>
	</ul>
</div>