<div id="xt-tray" tal:condition="isLoggedAdmin">
	<ul class="page-admin">
	  <tal:block tal:define="node SELF/getPageRootAdmin">
	    <li tal:attributes="class node/getClass | default">
	       <a tal:condition="not: node/isCurrent"
	          tal:attributes="href node/url; title node/titleMenu">
	          <span class="lft"><span class="rgt"><span class="mdl" tal:content="node/name_menu">Nazev stranky</span></span></span>
	       </a>
	       <strong tal:condition="node/isCurrent">
	          <span class="lft"><span class="rgt"><span class="mdl" tal:content="node/name_menu">Nazev stranky</span></span></span>
	       </strong>
	    </li>
	  </tal:block>
	</ul>
	<ul class="structure-admin">
	  <tal:block tal:repeat="node SELF/getPageRootAdmin/getChildnodesIterator">
	    <li tal:attributes="class node/getClass | default"
	        tal:condition="node/in_menu">
	       <a tal:condition="not: node/isCurrent"
	          tal:attributes="href node/url; title node/titleMenu">
	          <span class="lft"><span class="rgt"><span class="mdl" tal:content="node/name_menu">Nazev stranky</span></span></span>
	       </a>
	       <strong tal:condition="node/isCurrent">
	          <span class="lft"><span class="rgt"><span class="mdl" tal:content="node/name_menu">Nazev stranky</span></span></span>
	       </strong>
	       <x tal:condition="node/hasChildrenInMenu" metal:use-macro="menu_list" />
	    </li>
	  </tal:block>
	</ul>
    <ul
		metal:define-macro="menu_list"
       	tal:define="iterator node/getChildren">
      <tal:block tal:repeat="node iterator">
        <li tal:attributes="class node/getClass | default"
            tal:condition="node/in_menu">
           <a tal:condition="not: node/isCurrent"
              tal:attributes="href node/url; title node/titleMenu">
              <span class="lft"><span class="rgt"><span class="mdl" tal:content="node/name_menu">Nazev stranky</span></span></span>
           </a>
           <strong tal:condition="node/isCurrent">
              <span class="lft"><span class="rgt"><span class="mdl" tal:content="node/name_menu">Nazev stranky</span></span></span>
           </strong>
           <x tal:condition="node/hasChildrenInMenu" metal:use-macro="menu_list"/>
        </li>
      </tal:block>
   </ul>
	<div class="logout"><a class="logout" href="${SELF/page/url}:${SELF/getURLParamNameLogout}" title="Odlogovat"><span>Odhlásit z adminu</span></a></div>
</div>